<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a Product</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-10 flex justify-center items-center">
    <a href="/logout">Logout</a>
    <div class="w-6/12 text-center">
        <h1 class="text-2xl">Edit Product</h1>
        <form class="p-5 flex flex-col items-start" method="post" th:action="@{edit}">
            <label for="name">Product Name</label>
            <input type="text" class="mt-1 h-12 text-lg p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-300 rounded-md" name="name" id="name" th:value="${product.name}"  placeholder="Enter product name" />

            <label for="description">Product Description</label>
            <textarea class="mt-1 text-lg p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-300 rounded-md" name="description" id="description" placeholder="Enter product name" th:text="${product.description}">
            </textarea>

            <label for="price">Product Price</label>
            <input type="text" class="mt-1 h-12 text-lg p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm border-gray-300 rounded-md" name="price" th:value="${product.price}" id="price" placeholder="Enter product name" />

            <button type="submit" class="mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
    </form>
    </div>
</body>
</html>